.classpath
.localized
HELP.md
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
target/*
noinfo.txt
src/main/resources/apache.test
src/main/resources/apache.train
src/main/resources/apache_ner.bin
src/main/resources/stanford.test
src/main/resources/stanford.train
src/main/resources/stanford_ner.ser.gz
